@import "bootstrap-sprockets";
@import "bootstrap";
@import "advertising";
@import "application_layout";
@import "compass";
@import "bootstrap_and_overrides";
@import "favorites.css.scss";
@import "leaflet/leaflet";
@import "leaflet/MarkerCluster";
@import "leaflet/MarkerCluster.Default";
@import "jquery-tokeninput/token-input-facebook";
@import "bootstrap-wysihtml5/index";
// @import "jquery.ui.core";
// @import "jquery.ui.datepicker";
@import "locations";
@import "status_updates";
@import "jquery.fileupload-ui";
@import "admin_menu";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import "classified_categories";
@import "classified_listings";
@import "bootstrap-colorpicker";
@import "jqcloud";
@import "dropzone/basic";
@import "messaging";
@import "connected_advertiser";
@import "flexslider";
@import "static_about_page";
@import "media_attachment";
@import "new_product";
@import "subtle-slideshow";
@import "call_video";
@import "custom_modal";

* {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.resize-active #nav ul,
.resize-active #nav .drop {
  -webkit-transition: none !important;
  transition: none !important;
}

body {
  min-width: 320px !important;
}

body.active #wrapper {
  position: fixed;
}

body.active #nav .drop {
  left: 0;
  right: 0;
}

body.active #nav .drop .drop-holder {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #f2f2f2;
}
div.jqcloud {
  line-height: normal;
}

div.jqcloud span {
  padding: 3px;
}

.help-block {
  font-size: 10px;
  font-style: italic;
}

.has-error {
  font-size: 10px;
  font-style: italic;
  color: red;
}

label {
  font-weight: bold;
}

.submenu.hide { display: none; }

#sidebar {
  width: 239px;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  background-color: #e3e3e3;
  border-right: 1px solid #CCC;

  &:before {
    content: "";
    display: block;
    width: 239px;
    background-color: #e3e3e3;
    border-right: 1px solid #CCC;
  }

  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &.menu-min {
    width: 42px;
    +#main-content {
      margin-left: 43px;
    }
    &:before {
      width: 42px;
    }

    h6 {
      display: none;
    }

    .nav-list {
      li {
        a {
          span {
            z-index: 99999999;
          }
        }
        a:hover {
          span {
            display: block;

          }
        }
      }
    }
  }
}

#sidebar,
#sidebar.menu-min,
#sidebar:before  {
  transition-property: width;
  transition-duration: .2s;
}
#main-content {
  transition: all .2s;
}


.nav-list>li>a>[class*="icon-"]:first-child {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
}

.menu-min .nav-list > li > a .arrow {
  display: none;
}

.nav-list > li > a .arrow {
  display: inline-block;
  width: 14px !important;
  height: 14px;
  line-height: 14px;
  text-shadow: none;
  font-size: 18px;
  position: absolute;
  right: 9px;
  top: 11px;
  padding: 0;
}



.nav-list > li > a {
  display: block;
  height: 38px;
  line-height: 38px;
  padding: 0 16px 0 7px;
  text-shadow: none !important;
  text-decoration: none;
  margin: 0 !important;
  color: #12253e;
}

.menu-min #sidebar-shortcuts {
  display: none;
}

#sidebar-shortcuts {
  border-bottom: 1px solid #ccc;
  height: 40px;
  a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 16px 0 7px;
    text-shadow: none !important;
    text-decoration: none;
    margin: 0 !important;
    color: #12253e;
    i {
      display: inline-block;
      vertical-align: middle;
      min-width: 30px;
      text-align: center;
      font-size: 18px;
      line-height: inherit;
      margin-right: 2px;
    }
  }
}

#sidebar-shortcuts-mini {
  display: none;
}

.menu-min #sidebar-shortcuts-mini {
  display: block;
  width: 42px;
  min-width: 42px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 16px 0 7px;
    text-shadow: none !important;
    text-decoration: none;
    margin: 0 !important;
    color: #12253e;
    i {
      display: inline-block;
      vertical-align: middle;
      min-width: 30px;
      text-align: center;
      font-size: 18px;
      line-height: inherit;
      margin-right: 2px;
    }
  }
}

.nav-list > li .submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 1;
  position: relative;
  background-color: #f2f2f2;
  border-top: 1px solid #e5e5e5;

  li {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    border-top: 1px solid #ccc;
    line-height: 20px;
    a {
      display: block;
      //height: 20px;
      line-height: 20px;
      padding: 0px 0 8px 42px;
      text-shadow: none !important;
      text-decoration: none;
      //margin: 0 !important;
      color: #1c3656;
    }
  }
}


.nav-list > li {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  line-height: 20px;
}

.menu-min .nav-list>li>a>span {
  display: none;
  position: absolute;
  left: 41px;
  top: -2px;
  width: 158px;
  height: 39px;
  background-color: #e3e3e3;
  border: 1px solid #ccc;
  padding-left: 12px;
  z-index: 121;
}

.menu-min .nav-list > li > ul.submenu {
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: absolute;
  z-index: 120;
  left: 41px;
  top: -2px;
  width: 175px;
  padding-top: 40px;
  padding-bottom: 2px;
  display: none;
  opacity: 0;
}


.menu-min .nav-list > li:hover > ul.submenu {
  display: block;
}

.menu-min .nav-list > li:hover > a > span {
  display: block;
}



#breadcrumbs {
  position: relative;
  border-bottom: 1px solid #ccc;
  min-height: 40px;
  background-color: #e3e3e3;
  padding: 0 12px 0 0;
  display: block;
  line-height: 39px;
  color: #666;
  span.divider {
    padding: 0 10px;
    i {
      font-size: 14px;
    }
  }
  margin-left: 40px;
}



#main-content {
  margin-left: 240px;
  min-height: 100%;
  margin-top: 0;
  margin-right: 0;
  padding: 0 0 100px 0;
  position: relative;
  // background: #e9e7df;
}

.static #main-content {
  margin-left: 0;
}


.content-holder {
  padding-top: 15px;
}

h1.page-title {
  margin-top: 0;
  font-size: 24px;
  line-height: 24px;
}
.content {
  margin-bottom: 3em;
}

input, textarea, .uneditable-input {
  width: auto;
}


.addthis {
  .addthis_toolbox { float: right; }
}

a {
  &.admin-link {
    background: #000;
    color: #FFF !important;
    border-radius: 4px;
    margin-left: 1.5em;
    padding: 0px 10px;
  }
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
      text-decoration: none;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.user-nav {
  color: #FFF;
  a {
    color: #FFF;
    text-decoration: underline;
    &:hover {
      color: #FFF;
    }
    &:visited {
      color: #FFF;
    }
  }
}

.admin-tools {
  border: 1px solid #aaaaaa;
  font-size: .85em;
}

article {
  &.teaser {
    line-height: 1.25em;
    font-size: .85em;
    margin-bottom: 1.5em;
    clear: both;

    .article-title { font-weight: bold; }
    .article-published { font-style: italic; font-size: .8em; }
    .article-image {
      float: left; margin-right: 5px;
      img {
        margin-bottom: 1.5em;
      }
      .social-profile & {
        float: none;
        margin-right: 0;
        img {
          width: 100%;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
      .article-image img { margin-bottom: 0; }
    }
  }

  .social-profile & {
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5em;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.location-nav {
  color: #FFF;
  font-size: 11px;
  a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
#map-holder {
  margin-bottom: 1.5em;
}

.location-chooser {
  text-align: right;
  margin-right: 15px;
  // margin-top: 1em;
  .country-holder {
    display: none;
  }
  .chooser-country {
    display: inline;
    margin-left: 5px;
    color: #FFF;
    font-size: 9px;
    a {
      color: #FFF;
      padding: 2px 6px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      &.active {
        background: $gold;
        // @include border-radius(6px);
        color: $blue;
      }
    }

  }
  .chooser-label {
    display: inline;
  }

  .chooser {
    position: relative;
    display: inline-block;
    padding: 0px 45px 0px 5px;
    margin-left: 5px;
    color: #898989;
    font-family: "Lucida Grande", sans-serif;
    background: #FFF image-url('chooser_dropdown_open.png') no-repeat right center;
    cursor: pointer;


    .chooser-mega {
      text-align: left;
      position: absolute;
      padding: 20px;
      display: none;
      background: #FFF;
      width: 750px;
      z-index: 9000;
      color: #898989;
      top: 20px;
      border: 1px solid $blue;
      border-top: none;
      cursor: default;
      .more-cities {
        border: 1px solid #ccc;
        padding: 5px 30px;
        background: #eee;
      }
      .border-left {
        border-left: 1px solid $grey;
      }

      .nav-list > li > a.selected { background-color: $grey; }
      .btns { margin-top: 1em; }

      ul {
        margin: 0;

        li {
          list-style: none;

          a {
            // @include border-radius(3px);
            .icon-chevron-right {
              float: right;
              margin-top: 2px;
              margin-right: -6px;
              opacity: .25;
            }
          }
        }
      }
    }
  }
}

.search-block {
  margin: 10px 0px 20px 0px;
  padding: 8px 15px;
  // @include border-radius(4px);
  background: #F5F5F5;
  form {
    margin: 0;
  }
  .facets {
    margin-top: 1em;
    // @include border-radius(4px);
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 0.897em;
    display: none;
    color: #666;

    h6 {
      margin-top: 0px;
      margin-bottom: 5px;
      &.filter-title {
        border-bottom: 1px solid #CCC;
      }
    }
    .facet-results {
      font-size: 10px;

      ul {
        li {
          line-height: 14px;
          list-style: none;
        }
      }

    }
  }
}

.pagination-holder {
  &.top {
    .pagination { margin-top: 0;}
  }
}
.result-numbers {
  margin-bottom: 20px;
  font-size: 0.875em;
}

.metro-img {
  margin-bottom: 20px;
}

ul.unstyled {
  margin-bottom: 0;
}
div.facets {
  a.active {
    background-color: #000;
    color: #fff;
  }
}

.carousel-caption {
  small {
    color: #FFF;
  }
}

div.line-one, div.line-two {
  text-align: center;
  font-weight: bold;
}
div.line-one {
  margin-top: 30px;
}
div.line-two {
  font-size: 18px;
  margin-bottom: 30px;
}
div.other-junk {
  margin-top: 25px;
  margin-left: -45px;
  font-size: 11px;
  font-weight: bold;
  a {
    color: white;
    text-decoration: none;
  }
}

.addthis_sharing_toolbox {
  vertical-align: middle;
  padding: 2px;
  float: right;
  width: 120px;
  margin-right: -16px;
}

.follow_button_image {
  margin-left: -8px;
  margin-right: -6px;
}


.container-fluid {
  padding-left: 62px;
}

.sign-up-promo {
  text-align: center;

  h3 a{
    color: #39f;
  }

  a:hover {
    color: #0088cc;
  }
}

.sub-district {
  padding-left: 5px;
}

main {
  margin-top: 120px;
}

.location-menu-modal {
  width: 80% !important;
  left: 20% !important;
}

.status-update-image {
  font-weight: bold;
  color: #00b0f0;
}

@media (min-width: 768px) and (max-width: 979px) {
  main {
    margin-top: 177px;
  }
}

@media (min-width: 980px) and (max-width: 1023px) {
  main {
    margin-top: 154px;
  }
}

@media (max-width: 767px) {
  main {
    margin-top: 157px;
  }
}

@media (max-width: 320px) {
  main {
    margin-top: 120px;
  }
}

@media (min-width: 321px) and (max-width: 340px) {
  main {
    margin-top: 120px;
  }
}

@media (min-width: 341px) and (max-width: 380px) {
  main {
    margin-top: 130px;
  }
}

@media (min-width: 381px) and (max-width: 410px) {
  main {
    margin-top: 130px;
  }
}

@media (min-width: 411px) and (max-width: 437px) {
  main {
    margin-top: 140px;
  }
}

@media (min-width: 438px) and (max-width: 590px) {
  main {
    margin-top: 150px;
  }
}

@media (max-width: 1440px) {
  .location-menu-modal {
    width: 560px !important;
    left: 50% !important;
  }
}

@media (max-width: 420px) {
  .location-menu-modal {
    width: 320px !important;
    left: 0px !important;
  }
}

.h-scroll-div {
  max-width: 100%;
  overflow-x: auto;
}

.category-select-btn {
  width: 200px;
  display: block;
}

#collapseCategories {
  display: flex;
  margin-top: 15px;

  div {
    width: 33.33%;
    height: 220px;
    overflow: scroll;

    a {
      text-decoration: none;
      display: block;
      :last-child {
        float: right;
        margin-right: 25px;
        font-weight: bold;
      }
    }
  }
}
