.automotive-listings {
  .table {
    .description>* {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .description>*:not(:first-child) {
      display: none;
    }
  }
}

.automotive-listing-details {
  ul.unstyled {
    padding-left: 0;
    list-style: none;

    li {
      margin: 10px 0;
    }
  }

  #carousel-automotive-listing {
    margin-bottom: 150px;

    .carousel-indicators {
      bottom: -150px;

      .indicator-image {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }

      .multi {
        .slick-list {
          .slick-track {
            .colla {
              height: 100px;
              width: 100px;
              min-height: 100px;
              max-height: 100px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.automotive-listing-form {
  .add-more-images {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
  }

  .preview-images {
    .preview-image {
      position: relative;

      .remove-image {
        position: absolute;
        right: 16%;
        border: none;
        background-color: #fbdcdc;

        i {
          color: red;
          padding: 0 6px;
        }
      }

      img {
        margin: 10px 4px;
        border: 1px solid #c9c9c9;
      }
    }
  }

  #sub-images {
    .sub-image-input {
      margin-bottom: 10px;
    }
  }
}
