.location-block {
  float: right;
  width: 30%;
  text-align: right;
  position: relative;
  padding: 14px 0 0;
  z-index: 15;
}

.location-block .open {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 15px;
  line-height: 17px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  padding: 0 26px 0 0;
}

.location-block .open:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 16px;
  height: 16px;
  background: url('sprite.png') no-repeat;
}

.location-block .open:hover {
  opacity: .7;
}

.location-block .dropdown {
  position: absolute;
  top: 44px;
  right: -11px;
  display: none;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  width: 373px;
}

.location-block .dropdown:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  height: 12px;
}

.location-block .dropdown:before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.location-block .dropdown ul {
  float: left;
  width: 50%;
  text-align: left;
  padding: 20px;
}

.location-block .dropdown ul li {
  margin: 0 0 21px;
}

.location-block .dropdown ul li:last-child {
  margin: 0 0 5px;
}

.location-block .dropdown ul li a {
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  text-decoration: none;
  color: #666;
}

.location-block .dropdown ul li a:hover {
  color: #1c3656;
}

.location-block .dropdown ul li.active > a {
  color: #1c3656;
}