.new-media-attachment {
  .row {
    margin: 0;
  }

  .add-new-media-attachment-title {
    margin-bottom: 40px;

    .location-name {
      color: blue;
    }
  }

  #new_media_attachment {
    font-size: 20px;

    .media_attachment_attachment {
      margin: 0;
      #media_attachment_attachment {
        height: 30px;
        margin: 0;
        font-size: 18px;
        width: 100%;
      }
    }

    .or-text {
      margin: 10px 0 10px 50px;
    }

    .add-url {
      margin-top: 15px;
      padding-left: 40px;

      .add-url-text {
        padding: 5px 0;
      }

      .submit-youtube-url {
        font-size: 18px;
        padding: 4px 20px;
      }
    }

    .record-video {
      padding-left: 40px;
    }

    #pause-archive {
      display: none;
    }

    #resume-archive {
      display: none;
    }
  }

  .record-btn-group {
    margin-top: 20px;
    .btn {
      font-size: 20px;
      line-height: 1;
    }
  }

  .stream-area {
    width: 853px;
    height: 480px;

    #loader {
      margin: auto;
      display: none;
      border: 5px solid #f3f3f3;
      border-top: 5px solid #555;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}

.media-attachment-area {
  padding: 20px;

  h1 {
    margin: 0;
    margin-bottom: 20px;
  }

  label {
    font-size: 24px;
  }

  label.custom-file-input {
    font-size: 20px;
    font-weight: normal;
    margin: 10px 20px 10px 0;
    width: 225px;
  }

  .button-group {
    margin-bottom: 50px;

    .redirect-btn {
      font-size: 24px;
      line-height: 1;
      margin-right: 30px;
    }
  }


  .text-secondary {
    color: #6c757d;
  }

  .px-2 {
    padding: 0 10px;
  }

  .py-2 {
    padding: 10px 0;
  }

  #media_attachment_title, #video_media_attachment_attributes_title {
    font-size: 25px;
    line-height: 1;
    height: auto;
    margin-bottom: 30px;
  }

  #media_attachment_description, #video_media_attachment_attributes_description {
    font-size: 16px;
    margin-bottom: 30px;
  }

  img {
    padding: 20px 0;
    height: 200px;
  }

  .loader {
    vertical-align: middle;
    margin-left: 10px;
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #video_thumbnail {
    margin-top: 20px;
  }

  // #video_thumbnail::before {
  //   content: 'Upload thumbnail';
  //   width: 225px;
  // }

  // #video_audio::before {
  //   content: 'Upload new audio';
  //   width: 225px;
  // }

  #mute-audio {
    font-size: 20px;
    line-height: 1;
    margin: 10px 0;
    width: 225px;
  }

  // .custom-file-input::-webkit-file-upload-button {
  //   visibility: hidden;
  // }
  // .custom-file-input::before {
  //   display: inline-block;
  //   padding: 4px 12px;
  //   margin-bottom: 0;
  //   text-align: center;
  //   vertical-align: middle;
  //   cursor: pointer;
  //   color: #fff;
  //   background-color: #006ccc;
  //   border: 1px solid #999;
  //   border-radius: 4px;
  //   padding: 5px 8px;
  //   outline: none;
  //   white-space: nowrap;
  //   -webkit-user-select: none;
  //   font-size: 20px;
  //   line-height: 1;
  //   font-weight: normal;
  // }
  // .custom-file-input:hover::before {
  //   border-color: black;
  // }
  // .custom-file-input:active::before {
  //   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  // }
}
