.messaging-conversations {
  width: 100%;

  th, td {
    text-align: left;
    padding: 0.25em 0;
  }
}

.messaging-message {
  margin: 2em 0;

  dl { margin: 0 0 1em; }
  dd { margin: 0; }
  dt { display: none; }
}

.messaging-message-sender { font-weight: bold; }
.messaging-message-date {
  color: #666;
  font-size: 90%;
}

.messaging-message-reply {
  textarea {
    box-sizing: border-box;
    height: 6em;
    width: 100%;
  }
}

.messaging-conversation--unread {
  font-weight: bold;
}
