.about-page-wrapper {
  margin: 0 auto;
  width: 70%;
}

.about-title {
  text-align: center;
}

.about-sub-heading {
  text-align: center;
  padding: 10px;
}

.about-page-item {
  display: block;
  position: relative;
  padding: 47px 40px 99px 40px;
}

.even {
  background-color: white;
}

.static div#main-content {
  margin-top: 120px;
}
