@-webkit-keyframes right {
  from {
    -webkit-transform: translateX(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateX(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateX(-4%);
  }
  to {
    -webkit-transform: translateX(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    transform: translateX(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    -ms-transform: translateX(4%);
  }
}

@keyframes right {
  from {
    -webkit-transform: translateX(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateX(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateX(-4%);
  }
  to {
    -webkit-transform: translateX(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    transform: translateX(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    -ms-transform: translateX(4%);
  }
}

@-webkit-keyframes left {
  from {
    -webkit-transform: translateX(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    transform: translateX(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    -ms-transform: translateX(4%);
  }
  to {
    -webkit-transform: translateX(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateX(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateX(-4%);
  }
}

@keyframes left {
  from {
    -webkit-transform: translateX(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    transform: translateX(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    -ms-transform: translateX(4%);
  }
  to {
    -webkit-transform: translateX(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateX(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateX(-4%);
  }
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(-4%);
  }
  to {
    -webkit-transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(4%);
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(-4%);
  }
  to {
    -webkit-transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(4%);
  }
}

@-webkit-keyframes up {
  from {
    -webkit-transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(4%);
  }
  to {
    -webkit-transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(-4%);
  }
}

@keyframes up {
  from {
    -webkit-transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    transform: translateY(calc((4vw + 4vh + 4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(4%);
  }
  to {
    -webkit-transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    transform: translateY(calc((-4vw + -4vh + -4%)/3)) rotate(0.01deg);
    -ms-transform: translateY(-4%);
  }
}

@-webkit-keyframes out {
  from {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes out {
  from {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}

#slides {
  position: fixed;
  width: 1px;
  height: 1px;
  left: -9999px;
}

#slideshow {
  height: 66vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#slideshow .slide, #slideshow span, #slideshow .static-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#slideshow .slide span {
  background-size: cover;
  background-position: center;
}

#slideshow .slide span.animate.right, #slideshow .slide span.animate.left {
  left: calc((-4vw + -4vh + -4%)/3);
  right: calc((-4vw + -4vh + -4%)/3);
}

#slideshow .slide span.animate.up, #slideshow .slide span.animate.down {
  top: calc((-4vw + -4vh + -4%)/3);
  bottom: calc((-4vw + -4vh + -4%)/3);
}

#slideshow span.animate {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#slideshow span.animate.right {
  -webkit-animation-name: right;
  animation-name: right;
}

#slideshow span.animate.left {
  -webkit-animation-name: left;
  animation-name: left;
}

#slideshow span.animate.up {
  -webkit-animation-name: up;
  animation-name: up;
}

#slideshow span.animate.down {
  -webkit-animation-name: down;
  animation-name: down;
}

#slideshow span.animate.in {
  -webkit-animation-name: in;
  animation-name: in;
}

#slideshow span.animate.out {
  -webkit-animation-name: out;
  animation-name: out;
}

#slideshow span.animate.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.landing-page-bar .header-title {
  color: #c58003;
  font-style: italic;
  font-family: serif;
  font-size: 25px;
  vertical-align: middle;
  margin: auto;
  border-left: 1px solid #c58003;
  padding-left: 25px;
  margin-top: 5px;
}

.top-bar.landing-page-bar {
  background-color: transparent;
  position: absolute;
}

.static-content {
  .slider-advance-searchbox {
    width: 90%;
    bottom: 90px;
    .heading {
      h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
        font-family: arial;
        text-shadow: 3px 2px 10px #000000;
      }
      h5 {
        color: white;
        font-size: 25px;
        font-family: arial;
        font-weight: bold;
        text-shadow: 2px 2px 5px #000000;
      }
    }
  }
}

.landing-page-heading-filter.communities-page {
  .container-box {
    padding-left: 5px;
    padding-right: 5px;
   .search-box {
      border-radius: 0px;
      background-color: #f3f3f3;
      border: 1px solid #dedede;
      color: #5b7170;
    }
  }
  #city-landing-path {
    button {
      background-color: #ebad3a;
      color: black;
      justify-content: center;
      border-radius: 0px;
      border: 1px solid #dedede;
    }
  }
  .filter {
    padding: 0 30px 10px 30px;
    .btn-search {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .heading h3 {
    padding: 40px 30px 20px;
  }
}

.communities-section {
  .tab-inner-card .tab-inner-card-heading h5 { font-size: 25px; }
}

@media screen and (min-width: 1281px) {
  #slideshow {
    height: 70vh;
    .slide .static-content .slider-advance-searchbox {
      bottom: 150px;
      .heading {
        h1 { font-size: 72px; }
        h5 { font-size: 36px; }
      }
    }
  }

  .communities-section {
    .title { margin: 20px 0px 0px; }
    .tab-inner-card .tab-inner-card-heading h5 { font-size: 30px; }
  }

  .landing-page-heading-filter.communities-page {
    .filter { padding: 0 30px 30px 30px; }
    .heading h3 {
      padding: 50px 30px 30px;
    }
  }
}
